@import "tailwindcss";

@theme {
  --color-primary-blue: #0096d6;
  --color-active-blue: #007bb0;
  /* Darker for hover/active */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}